<div class="wrap">
  <header>
    <ul class="memberBar">
      <li class="allMember">전체 대선후보</li>
      <span class="bar"></span>
      <li class="president">Oh! My Captain!</li>
    </ul>
    <div class="btn arrow">
      <div class="left"><button><a href="#"><</a></button></div>
      <div class="right"><button><a href="#">></a></button></div>
    </div>
  </header>

  <section class="mainArea">

    <nav class="navList">
      <li>
      </li>
    </nav>

    <section class="content">
    </section>

  </section>
</div>

<script type="template" id="peopleTemplate">
  <h4 class="title">
    <span class="peopleName">{title}</span>
    <button class="XButton"><a href="#">X</a></button>
  </h4>
  <div class="peopleList">
    <img src={imgurl}>
    <li>
      {peopleList}
    </li>
  </div>
</script>

<script src="main.js"></script>
